.loginForm
  display: flex
  flex-direction: column

.loginLabel
  font-size: 18px
  font-weight: bold
  margin-left: 10px
  margin-bottom: 10px
  &:not(:first-child)
    margin-top: 20px

.loginInput
  padding: 5px 10px
  border: 1px solid black
  border-radius: 4px
  width: 300px
  font-size: 20px

.submitButton
  box-shadow: inset 0px -3px 7px 0px #29bbff
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%)
  background-color: #2dabf9
  border-radius: 3px
  border: 0
  display: inline-block
  cursor: pointer
  color: #ffffff
  font-weight: bold
  font-size: 20px
  padding: 10px
  text-decoration: none
  margin-top: 20px